#mainBox{
    background-color: darkorange;
    justify-items: flex-end;
    justify-content: flex-end;
    margin: 10;   
    padding: 20px;
}

#mainBox span{
    color: white;
    font-size: 20px;
}

input{
    font-size: 20px;
}


label{
    color: white;
    font-size: 20px;
}

.inputlabel{  
    margin-left: 30%;
}

#szamitas{
    background-color:white;
    color: darkorange;
    border: none;
    margin: 30,0,10,30;
    font-size:20px;   
}

#bmiResult, #idealis{
    font-style: italic;
}

h1, h2{
    color:darkorange;
}

section{
    width: 60%;
    margin: auto;
    padding-left: 40px;
    padding-top: 10px;
    border-bottom: 1px solid black;
}

section span{
    padding: 0;
    margin-left: 30%;
    text-align: center;
}

section p{
    font-size: 22px;
}

#also{
    margin-left: 5%;
}

#vegszo{
    color: black;
    display: inline-flex;
    text-align: center;
    margin-left: 35%;
    
}

